<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BreakTheBankTabs1063.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MagicTouchTabs1034.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BreakTheBankTabs1063.Properties.Settings>
            <setting name="MagicTouchTabs1034_WEBService_Service" serializeAs="String">
                <value>http://192.168.0.5/Service.asmx</value>
            </setting>
        </BreakTheBankTabs1063.Properties.Settings>
        <MagicTouchTabs1034.Properties.Settings>
            <setting name="MagicTouchTabs1034_WEBService_Service" serializeAs="String">
                <value>http://192.168.0.5/Service.asmx</value>
            </setting>
        </MagicTouchTabs1034.Properties.Settings>
    </userSettings>
</configuration>