<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GameMenuBase1063.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="GameMenuBase1034.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <GameMenuBase1063.Properties.Settings>
      <setting name="GameMenuBase1034_WEBService_Service" serializeAs="String">
        <value>http://192.168.0.5/Service.asmx</value>
      </setting>
    </GameMenuBase1063.Properties.Settings>
    <GameMenuBase1034.Properties.Settings>
      <setting name="GameMenuBase1034_WEBService_Service" serializeAs="String">
        <value>http://ngtwebserver:8082/Service.asmx</value>
      </setting>
    </GameMenuBase1034.Properties.Settings>

  </userSettings>
</configuration>