<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PlayerAudit1013.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PlayerAudit1013.Properties.Settings>
            <setting name="PlayerAudit1013_WEBService_Service" serializeAs="String">
                <value>http://ngtwebserver:8082/Service.asmx</value>
            </setting>
        </PlayerAudit1013.Properties.Settings>
    </userSettings>
</configuration>